.col-md-5 {
    padding: 0 20px !important;
}

.padd {
    padding: 10px 0;
}

.padd2 {
    padding: 0 20px;
}

.padd5 {
    padding: 0 50px;
}

.padd3 {
    padding: 10px 0;
}

.padd4 {
    padding: 12px 0;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.custom-otp-input {
    display: flex;
    justify-content: space-between;
}

.custom-otp-input input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.custom-otp-input input:last-child {
    margin-right: 0;
}

.custom-otp-input input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.password {
    position: relative;
    padding: 20;
}

.eye {
    position: absolute;
    right: 15px;
    top: 50px;
    transform: translateY((-50%));
    cursor: pointer;
    color: #111111;
}

.dropdown-toggle::after {
    display: none;
}

.scrollable-menu {
    max-height: 200px;
    overflow-y: auto;
}

.text-notifi {
    font-weight: bold;
    color: red;
}

.notifi-time {
    font-size: 8px;
    font-weight: bold;
}